h1{
color:red;

}

body{
border:50px solid red;
background: url(https://img.freepik.com/free-vector/yellow-diagonal-geometric-striped-background-with-halftone-detailed_1409-1451.jpg?w=2000)
}
